*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
header nav{
	margin-bottom: 0 !important;
}
.container-fluid{
	
	/*padding-right: 0 !important;*/
	padding-left: 0 !important;
}
.container-fluid .portada{
	background-image: url(../img/portada.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 41em;
    width: 100%;
}
.container-fluid .portada div{
	padding-top: 18%;
}

.foto img{
	width: 100%;
	border-radius: 50%;
}


/********** PROYECTOS ***********/

.trello {
    background-image: url(../img/trello.jpg);
}

.tweet_evento {
    background-image: url(../img/tweet_evento.jpg);
}

.portafolio {
    background-image: url(../img/portafolio.jpg);
}

.system {
    background-image: url(../img/system.jpg);
}

.uno {
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    border-radius: 10px;
    margin-left: 11%;
    margin-top: 4%;
}

.white{
	color:white;
}
.x{
	display: inline;
}
